/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: linear-gradient(to top right, rgba(95, 39, 205, 0.9) 10%, rgba(16, 172, 132, 0.9) 80%);
}

.action-buttons {
    -fx-font-family: Verdana !important;
    -fx-background-radius: 3em !important;
    -fx-background-color: linear-gradient(to top right, rgba(231,76,60, 0.8) 0%, rgba(231,76,60, 1) 100%) !important;
}

#items-available .column-header .label{
    -fx-padding: 0.3em;
}

#items-available .table-cell {
    -fx-padding: 0.3em;
}

#items-available .table-row-cell:filled:hover {
    -fx-background-color: #d5e1f2;
    -fx-fill: #000;
}

#items-available .table-row-cell:filled:hover .text {
    -fx-fill: #000;
}

#items-available .table-cell:filled:hover {
    -fx-background-color: none ;
}

#items-available .table-cell .button {
    -fx-padding: 0 4 0 4;
    -fx-border-insets: 0;
    -fx-background-color: #f53b57;
}

.action-buttons {
    -fx-font-family: Verdana !important;
    -fx-background-radius: 3em !important;
    -fx-background-color: linear-gradient(to top right, rgba(231,76,60, 0.8) 0%, rgba(231,76,60, 1) 100%) !important;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%) !important;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell:even {
    -fx-background-color: rgba(120, 224, 143, 0.1);
}

.table-row-cell:odd {
    -fx-background-color: rgba(56, 173, 169, 0.1);
}

#new-item-hbox * {
/*    -fx-border-insets: 5px 5px 5px 5px;
    -fx-background-insets: 5px 5px 5px 5px;*/
    -fx-spacing: 10px;
}

#new-item-hbox {
    -fx-spacing: 10px;
}
